{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}
{{ 'component-list-social.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="row">
            {%- for link in section.blocks -%}
                <div class="col-md-2">
                  <div class="footer__links">
                    <span class="footer__column-title">{{ link.settings.heading }}</span>
                    {%- for item in link.settings.menu.links -%}
                      <a href="{{ item.url }}" class="footer__link">{{ item.title }}</a>
                    {%- endfor -%}
                  </div>
                </div>
            {%- endfor -%}
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer__extra">
          {%- if section.settings.newsletter_heading != blank -%}
          <label class="footer__column-title ">{{ section.settings.newsletter_heading }}</label>
          {%- endif -%}
          {%- form 'customer'-%}
              <input type="hidden" name="contact[tags]" value="newsletter">
              <div class="newsletter-form__field-wrapper">
                <div class="field">
                  <input style="height: 10px;"  type="email" name="contact[email]" class="field__input footer__input form-control"
                    value="{{ form.email }}" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email" {% if
                    form.errors %} autofocus aria-invalid="true" aria-describedby="ContactFooter-error" {% elsif
                    form.posted_successfully? %} aria-describedby="ContactFooter-success" {% endif %}
                    placeholder="{{ 'newsletter.label' | t }}" required>
                  <label class="field__label" for="NewsletterForm--{{ section.id }}">
                    {{ 'newsletter.label' | t }}
                  </label>
                  <button type="submit" class="newsletter-form__button field__button" name="commit" id="Subscribe"
                    aria-label="{{ 'newsletter.button_label' | t }}">
                    {% render 'icon-arrow' %}
                  </button>
                </div>
                {%- if form.errors -%}
                <small class="newsletter-form__message form__message" id="ContactFooter-error">
                  {%- render 'icon-error' -%}
                  {{- form.errors.translated_fields.email | capitalize }}
                  {{ form.errors.messages.email -}}
                </small>
                {%- endif -%}
              </div>
              {%- if form.posted_successfully? -%}
              <h3 class="newsletter-form__message newsletter-form__message--success form__message" style="color: white;margin: 0; padding: 20px;" id="ContactFooter-success"
                tabindex="-1" autofocus>
                {% render 'icon-success' -%}
                {{- 'newsletter.success' | t }}
              </h3>
              {%- endif -%}
          {%- endform -%}
              {% if section.settings.footer_by_policy != blank %}
                 <p>{{ section.settings.footer_by_policy }}</p>
              {% endif %}
              {%- if section.settings.show_social -%}
                <div class="footer__social-icons">
                  {%- if settings.social_facebook_link != blank  -%}
                    <a href="{{ settings.social_facebook_link }}" class="footer__social-link">
                      <i class="fa-brands fa-facebook"></i>
                    </a>
                  {%- endif -%}
                  {%- if settings.social_instagram_link != blank  -%}
                    <a href="{{ settings.social_instagram_link }}" class="footer__social-link">
                      <i class="fa-brands fa-instagram"></i>
                    </a>
                  {%- endif -%}
                  {%- if settings.social_twitter_link != blank  -%}
                    <a href="{{ settings.social_twitter_link }}" class="footer__social-link">
                      <i class="fa-brands fa-twitter"></i>
                      </a>
                  {%- endif -%}
                  {%- if settings.social_youtube_link != blank  -%}
                    <a href="{{ settings.social_youtube_link }}" class="footer__social-link">
                      <i class="fa-brands fa-youtube"></i>
                      </a>
                  {%- endif -%}
                  {%- if settings.social_pinterest_link != blank  -%}
                      <a href="{{ settings.social_pinterest_link }}" class="footer__social-link">
                        <i  class="fa-brands fa-pinterest"></i>
                      </a>
                  {%- endif -%}
                </div>
              {%- endif -%}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="footer__bottom">
          <div class="footer__copyright">© {{ 'now' | date: '%Y' }}, {{ shop.name | link_to: routes.root_url -}}, All Rights Reserved</div>
          <div class="footer__extra-links">
              {%- for link in section.settings.footer_bottom_menu.links -%}
                <a href="{{ link.url }}"
                  class="footer__extra-link{% if link.active %} footer__extra-link--active{% endif %}">
                  {{ link.title }}
                </a>
              {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>




{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "t:sections.footer.blocks.brand_information.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
        },
        {
          "type": "header",
          "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
          "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 550,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
            {
              "type": "header",
              "content": "t:sections.footer.settings.header__1.content",
              "info": "t:sections.footer.settings.header__1.info"
            },
            {
              "type": "checkbox",
              "id": "newsletter_enable",
              "default": true,
              "label": "t:sections.footer.settings.newsletter_enable.label"
            },
            {
              "type": "inline_richtext",
              "id": "newsletter_heading",
              "default": "Subscribe to our emails",
              "label": "t:sections.footer.settings.newsletter_heading.label"
            },
            {
              "type": "text",
              "id": "footer_by_policy",
              "label": "Policy",
              "default": "By signing up for email, you agree to TNXSTYLES Terms of Service and Privacy Policy."
            },
            {
              "type": "header",
              "content": "t:sections.footer.settings.header__2.content",
              "info": "t:sections.footer.settings.header__2.info"
            },
            {
              "type": "checkbox",
              "id": "show_social",
              "default": true,
              "label": "t:sections.footer.settings.show_social.label"
            },
            {
            "type": "link_list",
            "id": "footer_bottom_menu",
            "label": "Footer Bottom Menu"
            }

  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
